/ProjetoVRService/nbproject/private/
/ProjetoVRService/build/
/ProjetoVRService/dist/
/TesteWS/nbproject/private/
/TesteWS/build/
/TesteWS/dist/
/TesteWSVR/nbproject/private/
/TesteWSVR/build/
/TesteWSVR/dist/
/ProjetoVR/dist/